nav{
    position: relative;
    z-index: 1;
}

main{
    padding-top: 0px;
    height: 80%;
}

article{
    padding-top: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article h3{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

article h3 span{
    color: grey;
    display: inline;
    font-weight: lighter;
}

#text-m{
    font-family: serif;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: grey;
}

#text-xl{
    font-size: 5rem;
    text-transform: uppercase;
}

#text-s{
    width: 80%;
}

article ul{
    backdrop-filter: none;
    padding: 0px;
    height: 30px;
}

article li{
    padding: 0px;
    margin: 0px;
    margin-right: 2rem;
    height: 15px;
    width: 15px;
}

button{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 100%;
    background-color: grey;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: white;
}

.selected{
    background-color: white;
}

aside{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background: none;
    border-radius: 100%;
    width: 20%;
    height: 100%;
    margin-top: 0rem;
}

aside img{
    position: relative;
    bottom: 0rem;
    width: 170%;
    z-index: 0;
}