h3{
    font-size: 2rem;
    margin-left: 10%;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h3 span{
    color: grey;
    display: inline;
    font-weight: lighter;
}

main{
    flex-direction: row-reverse;
    padding-top: 1rem;
    justify-content: space-around;
}

article{
    width: 50%;
    padding: 2rem;
    margin-left: 5%;
}

article ul{
    backdrop-filter: none;
    padding: 0px;
    margin-bottom: 2rem;
}

article li{
    margin: 0px;
    padding: 0px;
}

article button{
    background: none;
    margin-right: 3rem;
    padding-bottom: 1rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: lightgrey;
    transition: all 0.3s ease-in-out;
}

article button:hover{
    border-bottom: 3px solid gray;
}

.selected{
    border-bottom: 3px solid white;
}

#text-s{
    width: 70%;
    font-size: 1.5rem;
}

hr{
    width: 70%;
    margin: 3rem 0px 2rem 0px;
    height: 2px;
    border: none;
    background-color: gray;
}

.details{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.details div{
    font-size: 1.25rem;
    color: lightgray;
    text-transform: uppercase;
    
}

.details span{
    font-size: 2rem;
    padding-top: 0.5rem;
}

aside{
    width: 50%;
    background: none;
    padding: 0px;
    margin: 0px;
    justify-content: right;
}

aside img{
    width: 60%;
    margin-right: 10%;
}