*{
    box-sizing: border-box;
    color: white;
    padding: 0px;
    margin: 0px;
}

body{
    background: url("/starter-code/assets/home/background-home-desktop.jpg") no-repeat;
    background-size: cover;
}