*{
    box-sizing: border-box;
    color: white;
    padding: 0px;
    margin: 0px;
}

html{
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
}

body{
    background: url("/starter-code/assets/home/background-home-desktop.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

header{
    margin: 3rem 0px;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
    text-transform: uppercase;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: gray;
}

nav img{
    margin-left: 4rem;
}

ul{
    display: flex;
    backdrop-filter: blur(30px);
    padding: 0px 6rem 0px 4rem;
}

li{
    display: block;
    margin: 2rem;
    margin-bottom: 0px;
    padding-bottom: calc(2rem - 3px);
}

.active{
    border-bottom: 3px solid white;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100% - 15rem);
    padding-top: 8rem;
}

article{
    width: 50%;
    padding: 3rem;
    padding-left: 2rem;
}

article span{
    display: block;
}

#text-m{
    font-size: 2rem;
}

#text-xl{
    font-size: 9rem;
    font-family: serif;
    text-transform: uppercase;
}

#text-s{
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 2rem;
    width: 26rem;
}

aside{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border-radius: 100%;
    height: 14rem;
    width: 14rem;
    margin-top: 2rem;
}

aside div{
    color: black;
    font-size: 1.6rem;
    font-family: serif;
    letter-spacing: 0.2rem;
}